<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"
        ><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/UI_Automation_TAsk/UI_Automation_Task/Selenium_Webdriver_Automation/Single_Page_Approach/Facebook">
        <classes/>
    </test>
</suite>